<div class="container">
  <div class="col-xs-12 col-sm-10 col-sm-offset-1">
    <div class="title-panel">
      <div class="col-xs-4 col-sm-2">
        <img src="https://www.brownbagmarketing.com/wp-content/uploads/2014/07/Airbnb-new-logo-1-1024x863.jpg" class="company-logo">
      </div>
      <div class="col-xs-8 col-sm-8">
        <h2 class="start-up-name"><%= @start_up.name %></h2> 
        <p class="short-des"><%= @start_up.short_description %></p>
        <div class="mobile-envelope">
          <i class="fa fa-envelope fa-2x visible-xs pull-right" aria-hidden="true"></i>
        </div>
      </div>
      <div class="hidden-xs">
        <div class="col-sm-2">
          <div class="contact-box">
            <i class="fa fa-envelope fa-3x" aria-hidden="true"></i>
            <p class="olive-branch"> extend the olive branch </p>
          </div>
        </div>
      </div>
    </div>
    <div class="hidden-xs">
      <img src="<%= @graphic_large_url %>" width="100%" class="stage-graphic">
    </div>
    <div class="visible-xs">
      <img src="<%= @mobile_graphic_url %>" width="100%" class="stage-graphic">
    </div>
    <div class="col-sm-7">
      <div class="video-panel">
      <iframe width="100%" src="https://www.youtube.com/embed/QweNsLesMrM" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
    <div class="col-sm-5">
      <div class="wish-panel">
      </div>
    </div>
    <div class="about-panel">
    </div>
  </div>
</div>


