.navbar {
  background: rgba(255,255,255,0.34);
  min-height: 70px;
  font-size: 17px;
  font-weight: 100;
}

.push-below-navbar {
  margin-top:80px;
}

.navbar-icon {
  width:50px;
  margin-left:23px;
  margin-right:20px;
  margin-top: -14px;
}

.nav {
  margin-top:10px;
  color:white;
}

.navbar a {
  color: white;
}

.navbar a:hover {
  color:black;
  background-color: none;
}

.nav a:hover {
  color:black;
  background-color: none;
}

.navbar .navbar-icon:hover, 
.navbar .navbar-icon:focus {
  background-color: transparent;
  color: #999999;
}
