.navbar {
  background: rgba(255,255,255,0.34);
  min-height: 70px;
  font-size: 17px;
  font-weight: 100;
}

.push-below-navbar {
  margin-top:80px;
}

.navbar-icon {
  width:50px;
  margin-bottom:10px;
  margin-left:35px;
  margin-right:20px;
}

.nav {
  margin-top:10px;
  color:white;
}

.navbar a {
  color: white;
}

.navbar a:hover {
  color:gray;
}
