input#stage_stage_name{
    border-radius: 6px;
    height: 48px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    width: 100%;
    border: none;
    margin-bottom: 20px;
    font-family: "Source Sans Pro";
    font-weight: 100;
}

input#stage_stage_description{
    border-radius: 6px;
    height: 48px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    width: 100%;
    border: none;
    margin-bottom: 20px;
    font-family: "Source Sans Pro";
    font-weight: 100;
}

input#stage_stage_icon{
    border-radius: 6px;
    height: 48px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    width: 100%;
    border: none;
    margin-bottom: 20px;
    font-family: "Source Sans Pro";
    font-weight: 100;
}


.stage_icon {
  text-align: center;
  width:120px;
  color:white;
}

.stage-box {
  margin-top: 52px;
  margin-bottom: 40px;
  color: white;

}

.btn-white {
  background-color: #333333;
  width: 10vh;
  border-radius: 5px;
  margin-top: 8px;
  color: white;
  font-size: 14px;
}

.btn-white:hover {
  background-color: white;
  color: black;
  
}
