.btn-blue-start-up {
  background-image: linear-gradient(-207deg, #1C6C7C 0%, #186A71 14%, #206D75 53%, #0F5866 100%);
  border-radius: 5px;
  margin-top: 35px;
  margin-bottom: 35px;
  width: 100%;
  color: white;
  font-weight: 100;
  font-size: 34px;
  text-align: center;
  border: solid 1px rgba(255, 255, 255, 0.52)
}

.btn-blue-start-up:hover {
  color:white;
  background-image: linear-gradient(-207deg, #3BBACC 0%, #38B6C7 14%, #29A0AB 53%, #30ACBB 100%);
}

label.select {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 8px;
    color: white;
    font-weight: 100;
}

.pull-up {
  margin-top:-20px;
}

.dont-read {
  font-weight: 100;
  color: white;
  margin-top: -17px;
  margin-bottom: 7px;
  font-size: 15px;
}

.lower {
  margin-top:50px;
}

.title-panel {
  background-color:#CFE8EB;
  height: 153px;
  margin-top:6px;
  margin-bottom:15px;
}

.start-up-name {
  font-size:18px;
  font-weight: 900;
}

.company-logo {
  width:100%;
  box-shadow: 5px 5px 3px #888888;
  margin-top: 24px;
}

.start_up_intro {
  margin-left:0px;
}

.short-des {
  font-family: "Source Sans Pro";
  font-weight: 100;
  font-size: 15px;
  margin-bottom: -6px;
}

.contact-box {
  margin-left:10px;
  margin-top:41px; 
   text-align: center;

}

i.fa.fa-envelope.fa-2x.visible-xs {
  padding-right: 10px;
}

.olive-branch {
  text-align: center;
  font-weight: 100;
  margin-top: 9px;
}

.stage-graphic {
}

.stage-panel {
  background-color:#CFE8EB;
  height: 64px;
  border-radius:5px;
  margin-top:15px;
}

.mobile-envelope {
  padding-bottom: 10px;
}

.video-panel {
  margin: 15px -0px 0px -15px;
}

input#start_up_name {
border-radius: 6px;
height: 48px;
padding: 10px 16px;
font-size: 18px;
line-height: 1.3333333;
width: 100%;
border: none;
margin-bottom: 20px;
font-family: "Source Sans Pro";
font-weight: 100;
}

textarea#start_up_short_description {
border-radius: 6px;
height: 48px;
padding: 10px 16px;
font-size: 18px;
line-height: 1.3333333;
width: 100%;
border: none;
margin-bottom: 20px;
font-family: "Source Sans Pro";
font-weight: 100;
overflow-y: scroll;
}

textarea#start_up_long_description {
border-radius: 6px;
height: 48px;
padding: 10px 16px;
font-size: 18px;
line-height: 1.3333333;
width: 100%;
border: none;
margin-bottom: 20px;
font-family: "Source Sans Pro";
font-weight: 100;
overflow-y: scroll;
}

input#start_up_image {
border-radius: 6px;
height: 48px;
padding: 10px 16px;
font-size: 18px;
line-height: 1.3333333;
width: 100%;
border: none;
margin-bottom: 20px;
font-family: "Source Sans Pro";
font-weight: 100;
}

input#start_up_video {
border-radius: 6px;
height: 48px;
padding: 10px 16px;
font-size: 18px;
line-height: 1.3333333;
width: 100%;
border: none;
margin-bottom: 30px;
font-family: "Source Sans Pro";
font-weight: 100;
}

input#start_up_video {
border-radius: 6px;
height: 48px;
padding: 10px 16px;
font-size: 18px;
line-height: 1.3333333;
width: 100%;
border: none;
margin-bottom: 20px;
font-family: "Source Sans Pro";
font-weight: 100;
}

select#start_up_stage_id {
border-radius: 6px;
height: 48px;
padding: 10px 16px;
font-size: 18px;
line-height: 1.3333333;
width: 100%;
border: none;
margin-bottom: 9px;
font-family: "Source Sans Pro";
font-weight: 100;
color: black;
background-color: white
}

select#start_up_incubator_id {
border-radius: 6px;
height: 48px;
padding: 10px 16px;
font-size: 18px;
line-height: 1.3333333;
width: 100%;
border: none;
margin-bottom: 9px;
font-family: "Source Sans Pro";
font-weight: 100;
color: black;
background-color: white
}

select#start_up_location_id {
border-radius: 6px;
height: 48px;
padding: 10px 16px;
font-size: 18px;
line-height: 1.3333333;
width: 100%;
border: none;
margin-bottom: 9px;
font-family: "Source Sans Pro";
font-weight: 100;
color: black;
background-color: white
}