.logo-with-title {
  color: white;
  margin-top: 127px;
  margin-left: 81px;
}

.logo {
  width: 160px;
  margin-left:20px;
}

.tree {
  font-family: "Source Sans Pro";
  font-weight: 100;
  font-size: 36px;
}

.start-up-header {
  font-family: "Source Sans Pro";
  font-weight: 500;
  margin-top: 20px;
  font-size: 36px;

}

.catch-phrase {
  color: white;
  font-size: 30px;
  letter-spacing: 1px;
  font-family: "Source Sans Pro";
  margin-bottom: 180px;
  margin-left: 0px;
  font-weight:100;
}

.form-inline div { 
  display: inline-block;
}

.btn-log-in {
  background-image: linear-gradient(-207deg, #1C6C7C 0%, #186A71 14%, #206D75 53%, #0F5866 100%);
  border-radius: 5px;
  margin-top: 8px;
}

.btn-log-in:hover {
  margin-top: 8px;
  color: white;
  background-color: #27ab9f;
}

.push-back {
  margin-right:5%;
}

.input-lg {
    height: 35px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 5px;
    margin-top: 7px;
}

.create-account {
  font-size:50px;
  margin-top: 90px;
  color: white;
  margin-right:20px;
}

.sign-up-form {
  margin-left: -10px;
  margin-top: 15px;
  border-radius: 6px;
  height: 48px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
  width:100%;
  border: none;
}

.user-forms {
  margin-top:60px;
}

.radios {

  color: white;
  font-size: 20px;
  font-family: "Source Sans Pro";
  margin-top: 50px;
}

.radio label {
  font-weight:100;
}

.form-inline .radio label, .form-inline .checkbox label {
  padding-right: 45px;
  letter-spacing: 0.5px
}

.btn-sign-up {
  background-color: #27A1AB;
  border-radius: 5px;
  color: white;
  margin-top: 50px;
  padding: 10px 25px 10px 25px;
  font-weight:200;
  font-size: 18px;
}

.btn-sign-up:hover {
  color: white;
  background-color: #27ab9f;
}





