<header class="navbar navbar-static-top navbar-static-top-main">

  <div class = "collapse navbar-collapse">
    <ul class = "nav navbar-nav">
      <li class = "active"><img src="http://res.cloudinary.com/small-change/image/upload/v1461426069/tree-24-xxl_jmymdr.png" class="navbar-icon"></li>
      <li><a href = "#"><i class="fa fa-search" aria-hidden="true"></i> browse startups</a></li>
      <li><a href = "#"><i class="fa fa-area-chart" aria-hidden="true"></i> dashboard</a></li>
      <li><a href = "#"><i class="fa fa-info" aria-hidden="true"></i> about startup tree</a></li>
    </ul>
  </div>
</header>


